<div class="brothers-list-container">
  <div style="display: flex; justify-content: space-between; align-items: baseline;">
    <h4>Uczestnicy Konwiwencji Regionalnej 2020</h4>
    <button class="btn btn-success" (click)="onBackClick()">Back</button>
  </div>
  
  
    <table 
      mdbTable 
      mdbTableScroll 
      scrollY="true" 
      maxHeight="600" 
      bordered="true"
      hover="true"
      >
      <thead class="indigo white-text">
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col"> {{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of (elements$ | async); let i = index" (click)="onBrotherClick(i)">
          <th scope="row">{{i+1}}</th>
          <td>{{el.communityName}}</td>
          <td>{{el.participantName}}</td>
          <td>{{el.allocation}}</td>   
        </tr>
      </tbody>
    </table>  
</div>

