.brothers-list-container {
  h4 {
    padding: 1rem 0;
  }

  // .table.table-hover tbody tr:hover {
  // background-color: #8f8f8f;
  // color: white;
  // cursor: pointer;
//}



  tr {
    .trash {
      color:transparent;
      visibility: hidden;
    }
    &:hover {
      // background-color: #4e4e4e;
      // color: white;
      .trash {
        color:red;
        visibility: visible;
        
      }
    }
  }
  
}