<div class="accommodations-list-container">
  <div style="display: flex; justify-content: space-between; align-items: baseline; margin: 10px 0 10px 0;">
    <h4>Kwatery u Buzuna</h4>
   <button class="btn btn-success" type="button" (click)="onPartListClick()">Lista Braci</button>
    <!-- <span *ngIf="(elements$ | async)"> -->
      <!-- <button class="btn btn-primary" type="button" (click)="onAddParticipant()">Dodaj Uczestnika</button>
    </span> --> 
  </div>
  
    <table 
      mdbTable 
      hover="true"
      mdbTableScroll 
      scrollY="true" 
      maxHeight="600" 
      bordered="true"
      w-auto
      class="z-depth-1"
      id="accommodationsTable">
      <thead class="indigo white-text">
        <tr>
          <th 
            *ngFor="let head of headElements; let i = index" 
            scope="col"
            aria-controls="accommodationsTable"
            [mdbTableSort]="(elements$ | async)"
            sortBy="headElements[i]"  
          > {{head}}</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let el of (elements$ | async); let i = index" (click)="onBrotherClick(i, el)"> -->
        <tr *ngFor="let el of (elements$ | async); let i = index">
          <th scope="col">{{i+1}}</th>
          <td><span style="white-space: nowrap">{{el.kwatera}} __ m-ce nr {{el.numerLozka}}</span></td>
          <td>
            <div class="row">
              <div class="col-11">
                {{el.imieINazwisko}}
              </div>
              <!-- <div class="col-1">
                <a
                  class="trash" 
                  (click)="$event.stopPropagation()" 
                  (click)="deleteParticipantModal.show()"
                  (click)="preparePotentialParticipantToDelete(el.id)"
                  >
                  <mdb-icon fas icon="trash" ></mdb-icon>
                </a>
                <div
                  mdbModal 
                  class="modal" 
                  #deleteParticipantModal="mdbModal" 
                  tabindex="-1" 
                  role="dialog" 
                  aria-labelledby="deleteParticipantModalLabel"
                  aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button 
                        type="button" 
                        class="close pull-right" 
                        (click)="$event.stopPropagation()"
                        (click)="deleteParticipantModal.hide()"
                        aria-label="Close"><span aria-hidden="true">x</span>
                      </button>
                      <h4 class="modal-title w-100" id="deleteParticipantModalLabel">Usuwanie uczestnika</h4>
                    </div>
                    <div class="modal-body">Czy na pewno chcesz usunąć uczesnika?</div>
                    <div class="modal-footer">
                      <button 
                        type="button" 
                        mdbBtn 
                        color="secondary" 
                        class="waves-light" 
                        aria-label="Close"
                        (click)="$event.stopPropagation()"
                        (click)="deleteParticipantModal.hide()">Anuluj
                      </button>
                      <button 
                        type="button"
                        mdbBtn
                        color="primary" 
                        class="waves-light"
                        mdbWavesEffect
                        (click)="onDeleteParticipant(el.id)">Potwierdź
                      </button>
                    </div>
                  </div>
                </div>
                </div>
              </div> -->
            
            </div>
          </td>
          <td>
            <ul>
              <li *ngIf="!!el.tapczan1Osobowy && +el.tapczan1Osobowy > 0"><span class="acc-detail">tapczan 1-osobowy</span></li>
              <li *ngIf="!!el.dostawka && +el.dostawka > 0"><span class="acc-detail">dostawione łóżko</span></li>
              <li *ngIf="!!el.malzenstwo"><span class="acc-detail">małżeństwo</span></li>
              <li *ngIf="!!el.malzenstwoZDziecmiLubCiaza"><span class="acc-detail">małżeństwo z dziećmi lub ciąża</span></li>
              <li *ngIf="!!el.prezbiter"><span class="acc-detail">prezbiter</span></li>
              <li *ngIf="!!el.kobietaClassic"><span class="acc-detail">kobieta 'classic'</span></li>
              <li *ngIf="!!el.mezczyznaClassic"><span class="acc-detail">mezczyzna 'classic'</span></li>
              <li *ngIf="!!el.choroba"><span class="acc-detail">choroba</span></li>
              <li *ngIf="!!el.nianiaOddzielna"><span class="acc-detail">niania oddzielna</span></li>
              <li *ngIf="!!el.wolnePrzezNoc1"><span class="acc-detail">łóżko wolne przez 1 noc</span></li>
              <li *ngIf="!!el.wolnePrzezNoc2"><span class="acc-detail">łóżko wolne przez 2 noc</span></li>
              <li *ngIf="!!el.wolnePrzezNoc3"><span class="acc-detail">łóżko wolne przez 3 noc</span></li>
            </ul>        
          </td>   
        </tr>
      </tbody>
    </table>  
</div>



