.brother-container {
  .brother-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    button {
      display: inline-block;
    }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    form {
      width: 800px;
      label {
        font-weight: bold;
      }
      .form-group {
        .free-accommodation {
          margin: 0 0 0 100px;
          padding: 4px;
          font-size: 12px;
          text-transform: uppercase;
          border: 1px  solid red;
          background-color: red;
          color: white;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
}

.modal-content-container {
  .modal-header {
    display: flex;
    height: 61px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .modal-frame {
    display: flex;
    height: 108px;
    width: 351px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    .modal-info {
      text-align: center;
      padding: 0 15px;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 14px;
    }
  }
}

