.brother-container {
  .brother-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    button {
      display: inline-block;
    }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    form {
      width: 800px;
      label {
        font-weight: bold;
      }
    }
  }
}

.modal-content-container {
  .modal-header {
    display: flex;
    height: 61px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .modal-frame {
    display: flex;
    height: 108px;
    width: 351px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    .modal-info {
      text-align: center;
      padding: 0 15px;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 14px;
    }
  }
}

